
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@media (max-width:480px)  { 
    .card {
        max-width: 320px;
        max-height: 300px;
    }

    .container {
        margin: 20px;
    }

    .text {
        padding: 10px 0 10px 0;
    }

    .num {
        max-width: 40px;
        max-height: 40px;
    }

    .header {
        font-size: 18px;
        padding-top: 10px;
    }

    .request {
        padding-top: 10px;
        font-size: 13px;
    }

    .submit {
        max-width: 280px;
        max-height: 35px;
        margin-top: 25px;
    }

}
/* @media (min-width:480px)  { smartphones, Android phones, landscape iPhone } */


@media (min-width: 481px) {
    .container {
        margin: 30px;
    }

    .text {
        padding: 20px 0px 20px 0px;
    }

    .header {
        font-size: 28px;
    }

    .request {
        padding-top: 20px;
    }

    .submit {
        margin-top: 30px;
        height: 40px;
        width: 340px;
    }
}

* {
    margin: 0;
    padding: 0;;
}

body {
    background-color: #1F2125;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    height: 380px;
    background-color: #2B2E33;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: #CFCCCE;
    font-family: 'Quicksand', sans-serif;

}



.icon {
    
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C4048;
}



.header {
    
    color: white;
    font-weight: bold;
}



#ratingBtns {
  
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.num {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #3C4048;
    border: none;
    color: #CFCCCE;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.num:hover {
    background-color: #D0700F;
    color: white;
    font-weight: bolder;
}



.submit {
    border-radius: 20px;
    height: 40px;
    width: 340px;
    background-color: #D0700F;
    border: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
}

.submit:hover {
    background-color: white;
    color: #D0700F;
    font-weight: bolder;
}




/* ******* SUBMIT PAGE ******** */

.thanksCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    
}

.selection {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0 10px 0;
    padding: 10px 0px 10px 0px;
    background-color:#3C4048;
    border-radius: 20px;
    width: 200px;
    color: #D0700F;
    font-weight: bold;
}

.thankYou {
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.message {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px 15px 0px 15px;
    line-height: 24px;
}